workflows/nuevo.json
{
    "name": "WhatsApp Sales Automation - Plan Full",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "webhook-full",
          "responseMode": "responseNode"
        },
        "id": "webhook-incoming",
        "name": "Webhook WhatsApp Inbound",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [250, 300],
        "webhookId": "whatsapp-incoming-full"
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "days",
                "hours": { "hour": 9, "minute": 0 }
              }
            ]
          }
        },
        "id": "cron-daily",
        "name": "Cron Diario - Carritos Abandonados",
        "type": "n8n-nodes-base.cron",
        "typeVersion": 1.2,
        "position": [250, 500]
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "weeks",
                "weeks": { "weekday": 1, "hour": 10, "minute": 0 }
              }
            ]
          }
        },
        "id": "cron-weekly",
        "name": "Cron Semanal - Ofertas",
        "type": "n8n-nodes-base.cron",
        "typeVersion": 1.2,
        "position": [250, 700]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "ton_text",
                "name": "ton_text",
                "value": "={{ $json.body?.entry?.[0]?.changes?.[0]?.value?.messages?.[0]?.text?.body || '' }}",
                "type": "string"
              },
              {
                "id": "ton_from",
                "name": "ton_from",
                "value": "={{ $json.body?.entry?.[0]?.changes?.[0]?.value?.messages?.[0]?.from || $json.phone }}",
                "type": "string"
              },
              {
                "id": "ton_wa_id",
                "name": "ton_wa_id",
                "value": "={{ $json.body?.entry?.[0]?.changes?.[0]?.value?.contacts?.[0]?.wa_id || $json.phone }}",
                "type": "string"
              },
              {
                "id": "source",
                "name": "source",
                "value": "={{ $json.body ? 'webhook' : 'cron' }}",
                "type": "string"
              }
            ]
          }
        },
        "id": "set-ton",
        "name": "Normalizar a TON",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.3,
        "position": [450, 400]
      },
      {
        "parameters": {
          "method": "GET",
          "url": "={{ $env.SUPABASE_URL }}/rest/v1/customers?phone=eq.{{ $json.ton_from }}&select=id,plan,name",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              { "name": "apikey", "value": "={{ $env.SUPABASE_ANON_KEY }}" }
            ]
          }
        },
        "id": "get-customer",
        "name": "Obtener Cliente",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [650, 400]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "customer_id",
                "name": "customer_id",
                "value": "={{ $json[0]?.id || null }}",
                "type": "string"
              },
              {
                "id": "customer_plan",
                "name": "customer_plan",
                "value": "={{ $json[0]?.plan || 'basic' }}",
                "type": "string"
              },
              {
                "id": "customer_name",
                "name": "customer_name",
                "value": "={{ $json[0]?.name || '' }}",
                "type": "string"
              }
            ]
          }
        },
        "id": "set-customer",
        "name": "Set Customer Data",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.3,
        "position": [850, 400]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "name": "ton_input",
                "value": "=text:\"{{$('Normalizar a TON').item.json.ton_text}}\"\nfrom:\"{{$('Normalizar a TON').item.json.ton_from}}\"\nwa_id:\"{{$('Normalizar a TON').item.json.ton_wa_id}}\"",
                "type": "string"
              }
            ]
          }
        },
        "id": "format-ton",
        "name": "Formatear TON Input",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.3,
        "position": [1050, 400]
      },
      {
        "parameters": {
          "model": "gpt-4o-mini",
          "messages": {
            "values": [
              { "role": "user", "content": "={{ $json.ton_input }}" }
            ]
          },
          "options": {
            "systemMessage": "Eres un asistente de ventas.",
            "temperature": 0.3
          }
        },
        "id": "openai-interpret",
        "name": "OpenAI - Interpretar Intención",
        "type": "@n8n/n8n-nodes-langchain.openAi",
        "typeVersion": 1,
        "position": [1250, 400]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "intent",
                "name": "intent",
                "value": "={{ $json.output.match(/intent:\"([^\"]+)\"/)?.[1] || 'otro' }}",
                "type": "string"
              },
              {
                "id": "response",
                "name": "response",
                "value": "={{ $json.output.match(/response:\"([^\"]+)\"/)?.[1] || 'No pude entender.' }}",
                "type": "string"
              }
            ]
          }
        },
        "id": "parse-ton-response",
        "name": "Parsear Respuesta TON",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.3,
        "position": [1450, 400]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://graph.facebook.com/v21.0/{{$env.WHATSAPP_PHONE_NUMBER_ID}}/messages",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              { "name": "Content-Type", "value": "application/json" }
            ]
          },
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              { "name": "messaging_product", "value": "whatsapp" },
              { "name": "to", "value": "={{ $('Normalizar a TON').item.json.ton_from }}" },
              { "name": "type", "value": "text" },
              { "name": "text[body]", "value": "={{ $('Parsear Respuesta TON').item.json.response }}" }
            ]
          }
        },
        "id": "send-whatsapp-text",
        "name": "Enviar WhatsApp Texto",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [1650, 400]
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "{ \"success\": true }"
        },
        "id": "webhook-response",
        "name": "Responder Webhook",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1,
        "position": [1850, 400]
      }
    ],
    "connections": {
      "Webhook WhatsApp Inbound": {
        "main": [
          [{ "node": "Normalizar a TON", "type": "main", "index": 0 }]
        ]
      },
      "Normalizar a TON": {
        "main": [
          [{ "node": "Obtener Cliente", "type": "main", "index": 0 }]
        ]
      },
      "Obtener Cliente": {
        "main": [
          [{ "node": "Set Customer Data", "type": "main", "index": 0 }]
        ]
      },
      "Set Customer Data": {
        "main": [
          [{ "node": "Formatear TON Input", "type": "main", "index": 0 }]
        ]
      },
      "Formatear TON Input": {
        "main": [
          [{ "node": "OpenAI - Interpretar Intención", "type": "main", "index": 0 }]
        ]
      },
      "OpenAI - Interpretar Intención": {
        "main": [
          [{ "node": "Parsear Respuesta TON", "type": "main", "index": 0 }]
        ]
      },
      "Parsear Respuesta TON": {
        "main": [
          [{ "node": "Enviar WhatsApp Texto", "type": "main", "index": 0 }]
        ]
      },
      "Enviar WhatsApp Texto": {
        "main": [
          [{ "node": "Responder Webhook", "type": "main", "index": 0 }]
        ]
      }
    }
  }
  