workflows/pro.json
{
  "name": "WhatsApp Sales Automation - Plan Pro",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "webhook-pro",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-incoming",
      "name": "Webhook WhatsApp",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "whatsapp-incoming-pro"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ton_text",
              "name": "ton_text",
              "value": "={{ $json.body.entry[0].changes[0].value.messages[0].text.body }}",
              "type": "string"
            },
            {
              "id": "ton_from",
              "name": "ton_from",
              "value": "={{ $json.body.entry[0].changes[0].value.messages[0].from }}",
              "type": "string"
            },
            {
              "id": "ton_wa_id",
              "name": "ton_wa_id",
              "value": "={{ $json.body.entry[0].changes[0].value.contacts[0].wa_id || $json.body.entry[0].changes[0].value.messages[0].from }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "set-ton",
      "name": "Normalizar a TON",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [450, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/customers?phone=eq.{{ $json.ton_from }}&select=id,plan",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_ANON_KEY }}"
            }
          ]
        },
        "options": {}
      },
      "id": "get-customer",
      "name": "Obtener Cliente",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [650, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "supabase-auth",
          "name": "Supabase API"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "customer_id",
              "name": "customer_id",
              "value": "={{ $json[0]?.id || null }}",
              "type": "string"
            },
            {
              "id": "customer_plan",
              "name": "customer_plan",
              "value": "={{ $json[0]?.plan || 'basic' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "set-customer",
      "name": "Set Customer Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [850, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ton_input",
              "name": "ton_input",
              "value": "=text:\"{{ $('Normalizar a TON').item.json.ton_text }}\"\nfrom:\"{{ $('Normalizar a TON').item.json.ton_from }}\"\nwa_id:\"{{ $('Normalizar a TON').item.json.ton_wa_id }}\"",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "format-ton",
      "name": "Formatear TON Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "options": {
          "temperature": 0.3,
          "systemMessage": "=Eres un asistente de ventas por WhatsApp para plan Pro.\n\nIntenciones: saludo, pregunta_producto, agregar_carrito, consultar_carrito, confirmar_pedido, otro\n\nResponde en formato TON:\nintent:\"...\"\nproduct_query:\"...\" (opcional)\nquantity:\"1\" (opcional)\nresponse:\"...\""
        },
        "messages": {
          "values": [
            {
              "role": "user",
              "content": "={{ $json.ton_input }}"
            }
          ]
        }
      },
      "id": "openai-interpret",
      "name": "OpenAI - Interpretar Intención",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1,
      "position": [1250, 300],
      "credentials": {
        "openAiApi": {
          "id": "openai-credentials",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "intent",
              "name": "intent",
              "value": "={{ $json.output.match(/intent:\"([^\"]+)\"/)?.[1] || 'otro' }}",
              "type": "string"
            },
            {
              "id": "product_query",
              "name": "product_query",
              "value": "={{ $json.output.match(/product_query:\"([^\"]+)\"/)?.[1] || '' }}",
              "type": "string"
            },
            {
              "id": "quantity",
              "name": "quantity",
              "value": "={{ $json.output.match(/quantity:\"([^\"]+)\"/)?.[1] || '1' }}",
              "type": "string"
            },
            {
              "id": "response",
              "name": "response",
              "value": "={{ $json.output.match(/response:\"([^\"]+)\"/)?.[1] || 'Lo siento, no pude entender.' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "parse-ton-response",
      "name": "Parsear Respuesta TON",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [1450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.intent }}",
              "operation": "equals",
              "value2": "agregar_carrito"
            },
            {
              "value1": "={{ $json.intent }}",
              "operation": "equals",
              "value2": "consultar_carrito"
            },
            {
              "value1": "={{ $json.intent }}",
              "operation": "equals",
              "value2": "confirmar_pedido"
            }
          ]
        },
        "options": {}
      },
      "id": "switch-intent",
      "name": "Switch por Intención",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [1650, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/products?name=ilike.*{{ $json.product_query }}*&limit=1",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_ANON_KEY }}"
            }
          ]
        },
        "options": {}
      },
      "id": "get-product",
      "name": "Buscar Producto",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1850, 200],
      "credentials": {
        "httpHeaderAuth": {
          "id": "supabase-auth",
          "name": "Supabase API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/rpc/add_to_cart",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_ANON_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "p_customer_id",
              "value": "={{ $('Set Customer Data').item.json.customer_id }}"
            },
            {
              "name": "p_product_id",
              "value": "={{ $json[0]?.id }}"
            },
            {
              "name": "p_quantity",
              "value": "={{ $('Parsear Respuesta TON').item.json.quantity }}"
            }
          ]
        },
        "options": {}
      },
      "id": "add-to-cart",
      "name": "Agregar al Carrito",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2050, 200],
      "credentials": {
        "httpHeaderAuth": {
          "id": "supabase-auth",
          "name": "Supabase API"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/carts?customer_id=eq.{{ $('Set Customer Data').item.json.customer_id }}&select=*",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_ANON_KEY }}"
            }
          ]
        },
        "options": {}
      },
      "id": "get-cart",
      "name": "Obtener Carrito",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1850, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "supabase-auth",
          "name": "Supabase API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/rpc/create_order_from_cart",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_ANON_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "p_customer_id",
              "value": "={{ $('Set Customer Data').item.json.customer_id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "create-order",
      "name": "Crear Pedido",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1850, 400],
      "credentials": {
        "httpHeaderAuth": {
          "id": "supabase-auth",
          "name": "Supabase API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $env.WHATSAPP_PHONE_NUMBER_ID }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "messaging_product",
              "value": "whatsapp"
            },
            {
              "name": "to",
              "value": "={{ $('Normalizar a TON').item.json.ton_from }}"
            },
            {
              "name": "type",
              "value": "text"
            },
            {
              "name": "text[body]",
              "value": "={{ $json.response || $('Parsear Respuesta TON').item.json.response }}"
            }
          ]
        },
        "options": {}
      },
      "id": "send-whatsapp",
      "name": "Enviar Respuesta WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2250, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "whatsapp-auth",
          "name": "WhatsApp Cloud API"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true } }}",
        "options": {}
      },
      "id": "webhook-response",
      "name": "Responder Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2450, 300]
    }
  ],
  "connections": {
    "Webhook WhatsApp": {
      "main": [
        [
          {
            "node": "Normalizar a TON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar a TON": {
      "main": [
        [
          {
            "node": "Obtener Cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Cliente": {
      "main": [
        [
          {
            "node": "Set Customer Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Customer Data": {
      "main": [
        [
          {
            "node": "Formatear TON Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatear TON Input": {
      "main": [
        [
          {
            "node": "OpenAI - Interpretar Intención",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI - Interpretar Intención": {
      "main": [
        [
          {
            "node": "Parsear Respuesta TON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parsear Respuesta TON": {
      "main": [
        [
          {
            "node": "Switch por Intención",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch por Intención": {
      "main": [
        [
          {
            "node": "Buscar Producto",
            "type": "main",
            "index": 0
          },
          {
            "node": "Obtener Carrito",
            "type": "main",
            "index": 0
          },
          {
            "node": "Crear Pedido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Producto": {
      "main": [
        [
          {
            "node": "Agregar al Carrito",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agregar al Carrito": {
      "main": [
        [
          {
            "node": "Enviar Respuesta WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Carrito": {
      "main": [
        [
          {
            "node": "Enviar Respuesta WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crear Pedido": {
      "main": [
        [
          {
            "node": "Enviar Respuesta WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Respuesta WhatsApp": {
      "main": [
        [
          {
            "node": "Responder Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "1"
}

